* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    --tw-bg-opacity: 1;
    background-color: rgb(244 247 250 / var(--tw-bg-opacity));
}

.container {
    height: 100%;
    width: 100%;
}

img {
    height: 50px;
    width: 170px;
    margin-top: 10%;
    margin-left: 10%;
}

h1 {
    margin-top: 2%;
    font-size: 48px;
    margin-left: 10%;
}

h2 {
    color: gray;
    margin-left: 10.5%;
    margin-top: -0.8%;
    font-size: 35px;
}

form {
    width: 570px;
    height: 280px;
    border: 2px solid rgb(228, 221, 221);
    margin-left: 53%;
    margin-top: -5.9%;
    border-radius: 9px;
    box-shadow: 2px 2px 2px rgb(236, 231, 231);
    background-color: white;

}

.text1,
.text2 {
    margin-left: 8.5%;
    height: 50px;
    width: 470px;
    border: 2px solid rgb(245, 239, 239);
    padding: 10px;

}

.text1.active {
        border: 3px solid rgb(53, 186, 53);
    }

    .text2.active {
        border: 3px solid rgb(53, 186, 53);
    }



h3 {
    margin-left: 9%;
    padding-bottom: 0.5%;
    margin-top: 3%;
    font-weight: lighter;
    color: gray;
}

h4 {
    margin-left: 9%;
    padding-bottom: 0.5%;
    margin-top: 3%;
    font-weight: lighter;
    color: gray;

}

.btn {
    margin-left: 74%;
    height: 47px;
    margin-top: 3%;
    width: 100px;
    border-radius: 8px;
    background-color: rgb(70, 124, 102);
    color: white;
    border: 1px solid white;
    font-size: 14px;

}

.trouble {
    margin-left: 53.5%;
    margin-top: 1%;
}

.btn2 {
    color: rgb(70, 124, 102);
    font-size: 14px;
    --tw-bg-opacity: 1;
    background-color: rgb(244 247 250 / var(--tw-bg-opacity));
    border: 0;

}


/* PHONE */
@media (width <= 600px) {

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .card {
        margin-left: -54%;
        margin-top: 75px;
    }

    img {
        height: 45px;
        width: 150px;
        margin-top: 10%;

    }

    h1 {

        margin-top: 30px;
        font-size: 34px;

    }

    h2 {

        margin-top: -10px;
        font-size: 23px;
    }

    form {
        width: 460px;
        height: 280px;
        margin-left: calc(4px + 0.01rem);
        margin-top: 27px;
        border-radius: 9px;


    }

    .text1,
    .text2 {
        margin-top: 20px;
        margin-left: 8.5%;
        height: 40px;
        width: 370px;
        border: 1px solid rgb(245, 239, 239);
        border-radius: 5px;
        

    }

    

   

    .btn {
        margin-left: 68%;
        height: 47px;
        margin-top: 3%;
        width: 100px;
        font-size: 14px;
    
    }

    .trouble {
        margin-left: -45%;
        margin-top: 20px;
    }


}

/* tabs */
@media (601px < width < 768px) {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    .card {
        margin-left: -54%;
        margin-top: 75px;
    }

    img {
        height: 45px;
        width: 150px;
        margin-top: 10%;

    }

    h1 {

        margin-top: 30px;
        font-size: 40px;

    }

    h2 {

        margin-top: -10px;
        font-size: 23px;
    }

    form {
        min-width: 460px;
        height: 280px;
        margin-left: calc(4px + 0.01rem);
        margin-top: 27px;
        border-radius: 9px;


    }

    .text1,
    .text2 {
        margin-top: 20px;
        margin-left: 8.5%;
        height: 40px;
        min-width: 370px;
        border: 1px solid rgb(245, 239, 239);
        border-radius: 5px;

    }

    .btn {
        margin-left: 74%;
        height: 47px;
        margin-top: 3%;
        max-width: 100px;
        font-size: 14px;
    
    }

    .trouble {
        margin-left: -45%;
        margin-top: 20px;
    }
}
/* laptops */
@media (767px < width < 1200px) {
    .container {
        height: 100%;
        width: 100%;
    }
    
    img {
        height: 50px;
        width: 170px;
        margin-top: 10%;
        margin-left: 10%;
    }
    
    h1 {
        margin-top: 2%;
        font-size: 48px;
        margin-left: 10%;
    }
    
    h2 {
        color: gray;
        margin-left: 10.5%;
        margin-top: -0.8%;
        font-size: 35px;
    }
    
    form {
        max-width: 570px;
        height: 280px;
        margin-left: 36%;
        margin-top: 3.9%;
        border-radius: 9px;
       
    
    }
    
    .text1,
    .text2 {
        margin-left: 8.5%;
        height: 50px;
        width: 470px;
       
    
    }
    
    
    
    h3 {
        margin-left: 9%;
        padding-bottom: 0.5%;
        margin-top: 3%;
        
    }
    
    h4 {
        margin-left: 9%;
        padding-bottom: 0.5%;
        margin-top: 3%;
        
    
    }
    
    .btn {
        margin-left: 74%;
        height: 47px;
        margin-top: 3%;
        width: 100px;
        border-radius: 8px;
        font-size: 14px;
    
    }
    
    .trouble {
        margin-left: 36%;
        margin-top: 1%;
    }
    
    .btn2 {
        color: rgb(70, 124, 102);
        font-size: 14px;   
        border: 0;
    
    }
    
}